@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* Banner classes */
.banner-home {
  background-image: url('../src/img/empty-gym.jpg');
}
.banner-about {
  background-image: url('../src/img/about-plates.jpg');
}
.banner-pt {
  background-image: url('../src/img/personal-training-woman-ropes.jpg');
}
.banner-careers {
  background-image: url('../src/img/careers-kettlebells.jpg');
}
.banner-membership {
  /* https://unsplash.com/photos/eCKIeu1Lkok */
  background-image: url('../src/img/membership-crunches.jpg');
}
.banner-group-classes {
  background-image: url('../src/img/personal-training-yoga.jpg');
}
.banner-h-sm {
  height: 50vh;
}
/* Home */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}

.slide {
  inset: 0;
  @apply absolute opacity-0;
}
.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slide[data-active] {
  opacity: 1;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255,255,255,.5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0,0,0,.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: #fff;
  background-color: rgba(0,0,0,.2);
}

.carousel-button:focus {
  outline: 1px solid block;
}

.carousel-button.prev {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}

/* About Cards */
.about-legpress {
  background-image: url('../src/img/about-legpress.jpg');
}
.about-dumbbells {
  background-image: url('../src/img/about-dumbbells.jpg');
}
.about-pool {
  background-image: url('../src/img/about-pool.jpg');
}
.about-push {
  background-image: url('../src/img/about-push.jpg');
}
.about-deadlift {
  background-image: url('../src/img/about-deadlift.jpg');
}
.about-trx {
  background-image: url('../src/img/about-trx.jpg');
}


/* PT Cards */
.pt-card-w {
  width: 47%;
}

/* Careers */
/* .careers-button {
  @apply text-2xl;
} */

/* CSS */
.btn {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 1rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.btn:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* Membership */
.membership-icons-container {
  @apply flex flex-col items-center justify-center text-center;
}
.membership-icons-icon {
  @apply text-[10rem] text-white;
}
.membership-icons-p {
  @apply text-3xl;
}

/* Group classes */
/* .calendar-row {
  @apply text-center h-40;
}
.calendar-column-regular {
  @apply border p-1 h-80;
}
.calendar-column-other {
  @apply border bg-gray-100 p-1 h-80;
}
.calendar-column-inner {
  @apply flex flex-col h-80;
} */
.calendar-column {
  @apply flex flex-col text-center border w-full h-full;
}
.calendar-head {
  @apply border-b w-full h-10;
}
.calendar-item {
  @apply flex flex-col items-start p-2 space-y-2 list-none;
}
.calendar-list {
  @apply flex flex-col;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.footer-section {
  @apply flex flex-col border-b py-3 mt-3 space-y-2 md:border-b-0;
}

.form-checkbox-div {
  @apply flex justify-between;
}
