@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Banner classes */
.banner-home {
  background-image: url('../src/img/empty-gym.jpg');
}
.banner-about {
  background-image: url('../src/img/about-plates.jpg');
}
.banner-pt {
  background-image: url('../src/img/personal-training-woman-ropes.jpg');
}
.banner-group-classes {
  background-image: url('../src/img/personal-training-yoga.jpg');
}
.banner-h-sm {
  height: 50vh;
}

/* PT Cards */
.pt-card-w {
  width: 47%;
}

/* Group classes */
/* .calendar-row {
  @apply text-center h-40;
}
.calendar-column-regular {
  @apply border p-1 h-80;
}
.calendar-column-other {
  @apply border bg-gray-100 p-1 h-80;
}
.calendar-column-inner {
  @apply flex flex-col h-80;
} */
.calendar-column {
  @apply flex flex-col text-center border w-full h-full;
}
.calendar-head {
  @apply border-b w-full h-10;
}
.calendar-item {
  @apply flex flex-col items-start p-2 space-y-2 list-none;
}
.calendar-list {
  @apply flex flex-col;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.footer-section {
  @apply border-b py-3 mt-3 w-1/2 space-y-2 md:border-b-0;
}